<header id= "home">
<title>Léger</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the body
body {
  font-family: helvetica;
}*/

/* Header/Logo Title */
.hmheader {
  padding: 2px;
  text-align: left;
  background: #36568c;
  color: white;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

.hmc {
margin-left: 40px;
font-size: 50px;
margin-bottom: 8px;
}

.hmc2 {
margin-left: 40px;
font-size: 20px;
}

</style>
</head>
<body>

<div class="hmheader">
  <h1 class= "hmc"><a href="https://LegerChronicle.github.io/" target="_blank">The Léger Chronicle</a></h1>
  <p class= "hmc2">For all your Léger centric news!</p>
</div>

</body>
