<head>
<title>Léger</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the body
body {
  font-family: helvetica;
}*/

/* Header/Logo Title */
.hmheader {
  text-align: left;
  padding:5px;
  background: #36568c;
  color: white;
  box-shadow: 5px 10px;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}
/*
.hmc {
//margin-left: 40px;
padding-top: 25px;
font-size: 50px;
margin-bottom: 8px;
}

.hmc2 {
margin-left: 40px;
padding-bottom: 25px;
font-size: 20px;
}
*/
</style>
</head>
<body>

<div class="wrapper">
  <h1 class= "hmc"><a href="https://LegerChronicle.github.io/" target="_blank">The Léger Chronicle</a></h1>
  <p class= "hmc2">For all your Léger centric news!</p>
</div>

</body>
